// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Nanum+Pen+Script&display=swap");

// Font Variables
$nanum: "Nanum Pen Script", "cursive";
$gaegu: "Gaegu", "cursive";

.skills {
  // border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  list-style: none;
  font-family: $gaegu;
}

.skills li {
  display: flex;
  flex-direction: column;
  padding: 0 7px 10px;
  text-align: center;
}
